@font-face {
    font-family: Raleway;
    font-weight: 100;
    src: url('../font/Raleway-100.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 200;
    src: url('../font/Raleway-200.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 300;
    src: url('../font/Raleway-300.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url('../font/Raleway-400.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 500;
    src: url('../font/Raleway-500.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url('../font/Raleway-600.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url('../font/Raleway-700.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 800;
    src: url('../font/Raleway-800.ttf');
}
@font-face {
    font-family: Raleway;
    font-weight: 900;
    src: url('../font/Raleway-900.ttf');
}