/**=========
   GLOBAL
=========**/

:root {
   --clr-primary-100: white;
   --clr-primary-200: black;
   --clr-secondary-100: grey;
   --ff-default: 'Raleway', sans-serif;
   --fw-800: 800;
   --fs-tiny: 1.4rem;
   --fs-small-1: 1.8rem;
   --fs-small-2: 2.5rem;
   --fs-big-2: 7rem;

   --width-big: 100%;
   --height-big: 100%;
}

* {
   color: var(--clr-primary-100);
   font-style: normal;
}
a {
   text-decoration: none;
}

/**==============
   COMPOSITION
==============**/
.flex {
   display: flex;
}
.justify-center {
   justify-content: center;
}
.flex-column {
   flex-direction: column;
}
.flex-row {
   flex-direction: row;
}
.gap-1 {
   gap: 2.5rem;
}
.align-center {
   align-items: center;
}

.grid {
   display: grid;
   place-items: center;
}
.grid-row {
   grid-template: "elem-1 elem-2" / 35% 65%;
}
.grid-column {
   grid-template: "elem-1" 80% "elem-2" 20%;
}

.relative {
   position: relative;
}
.absolute {
   position: absolute;
}
.z-1 {
   z-index: 1;
}
.z-10 {
   z-index: 10;
}

/**==========
   UTILITY
==========**/
.cell-elem-1 {
   grid-area: elem-1;
}
.cell-elem-cross-1 {
   grid-area: 1 / elem-1 / 1 / cross;
}
.cell-elem-2 {
   grid-area: elem-2;
}
.cell-elem-cross-2 {
   grid-area: 1 / cross / 1 / elem-2;
}
.cell-left {
   justify-self: start;
}

.clr-primary {
   color: var(--clr-primary-100);
}
.clr-secondary {
   color: var(--clr-secondary-100);
}
.bg-primary {
   background-color: var(--clr-primary-200);
}

.ff-main {
   font-family: var(--ff-default);
}
.fs-small-1 {
   font-size: var(--fs-small-1);
}
.fs-small-2 {
   font-size: var(--fs-small-2);
}
.fw-700 {
   font-weight: 700;
}
.fs-scale {
   font-size: var(--fs-scale);
}
.fs-big-2 {
   font-size: var(--fs-big-2);
}
.uppercase {
   text-transform: uppercase;
}
.text-center {
   text-align: center;
}

.width-all {
   width: 100%;
}
.height-all {
   height: 100%;
}

.hide {
   overflow: hidden;
}

/**========
   BLOCK
========**/

/* navbar
=========*/
nav {
   position: fixed;
   padding-inline: 8%;

   animation-fill-mode: forwards;
   transition: top 0.3s, background-color 0.2s; 
}
nav[data-scroll=yes] {
   background-color: black;
}
.nav-img-link {
   width: 20rem;
}
.navlist {
   justify-content: space-around;
}
.navlist a {
   display: inline-block;
   position: relative;
}
.navlist a:hover {
   text-decoration: line-through;
}
.toggle {
   width: 35px;
   display: none;
   cursor: pointer;
}
.toggle > * + * {
   margin-top: 8px;
}
.toggle span {
   background-color: white;
   width: 100%;
   height: 3px;
}
@media (max-width: 1200px) {
   /* navbar se convierte en nav toggle */
   .nav {
      grid-template: "elem-1 elem-2" 30%
                     "bottom bottom" 70%
                     / 50%   50%
      ;
   }
   .navlist {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 2.7rem;
   }
   .navlist dt {
      padding-block: .7rem;
   }
   .navlist dt:last-child {
      padding-bottom: 1.8rem;
   }
   .navlist.active {
      display: flex;
   }
   .toggle {
      display: flex;
      justify-self: end;
      margin-right: 10%;
   }
}

/* header y about
=======*/
.header-video {
   min-width: 800px; /* height = 450px aspect ratio */
}
.about p {
   flex-grow: 1;
   padding: 8em 15% 8em 15%;
   font-size: clamp(2rem, 2.5vw, 15rem);
}
.marquee {
   padding-bottom: 8rem;
}
.marquee dt {
   padding-inline: 2rem;
}

/* main
=======*/
main {
   background-image: url('../media/biosatélite.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 100% center;
}
.main-list {
   padding-left: 4%;
   padding-block: 24rem;
}
.main-list dt {
   font-size: clamp(
      var(--fs-small-1),
      1.6vw,
      4rem
   );
}
.main-list dt:hover {
   text-decoration: line-through;
}
.main-list dd {
   font-size: var(--fs-tiny);
   display: none;
}
.main-list dt {
   display: inline;
   padding-right: 1rem;
}

/* footer
=======*/
footer {
   padding: 8rem 0 2rem 0;
}
footer form {
   width: clamp(20rem, 40vw, 50rem);
}
footer form * {
   width: var(--width-big);
   margin-top: 1.4rem;
}
footer div {
   padding-block: 3rem;
}
form textarea {
   height: 4rem;
}
aside {
   justify-content: space-between;
   padding-inline: 1rem;
}

/* media global
===============*/
@media (max-width: 1550px) { /* cambio de foto */
   main {
      background-size: cover;
      background-position: 50%;
   }
}
@media (max-width: 800px) {
   /* el video empieza a estirarse a ambos lados */
   header {
      position: relative;
      height: 450px;
   }
   video {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
   }
   
   /* los links de la lista se ponen unos debajo de otros **/
   main br {
      display: none;
   }
   .main-list dt, a[data-state="resp"] {
      display: block;
   }
}