/** Any CSS error you might face probably comes from here **/
*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   width: 100%;
}
html {
   font-size: 62.5%; /* 10px */
   display: table;
}
html:focus-within {
   scroll-behavior: smooth;
}
body {
   display: table-cell;
   text-rendering: optimizeSpeed; /* optimizeLegibility is too slow */
   line-height: 1.5;
}

body,
blockquote,
dd, dl,
fieldset,
figure,
h1, h2, h3, h4, h5, h6,
hr,
legend,
p,
pre,
ol, ul {
   margin: 0;
}
fieldset,
legend,
ol, ul {
   padding: 0;
}

img,
picture {
   max-width: 100%;
   display: block;
}

input, button,
textarea, select {
   font: inherit;
   background-color: inherit;
}

/* using 'list-style: none' removes voiceover lines in some browsers,
    so we will only remove default styling when ARIA is explicitely used
*/
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* removes flashy stuff for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}